.App {
  background-color: rgb(118, 96, 63);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px
  ;
}
.container{
  width: 350px;
  height: 400px;
  background-color: rgb(234, 203, 157);
  border: 5px solid rgb(110, 78, 78);

}
