.swichContainer{
    display: flex;
    justify-content:space-around;
    align-items: center;
    

}

.enterButton{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 50px;
    background-color: rgb(141, 219, 247);
    border-radius: 5%;
}
body {
    background-color: rgb(1, 65, 65);
}

header {
    background-color: rgb(141, 219, 247);
    padding: 40px;
}

.buttonsContainer {
    text-align: center;
    justify-content: center;
    display: flex;
    margin: 40px 0px 70px 0px;
    user-select: none;
    cursor: pointer;
}

.playerButton {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(108, 184, 212);
    border-radius: 50%;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    width: 150px;
    height: 150px;
    margin: 20px;
}

.gameContainer {
    display: flex;
    gap: 30px;
    grid-template-columns: repeat(2, 300px);
    justify-content: center;
    align-items: center;
    
}

.player {
    margin-top: 40px;
    width: 300px;
    height: 400px;
    border: 0.5px solid;
    border-color: rgb(180, 178, 178);
    border-radius: 5%;
    background-color: rgb(143, 218, 245);
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    text-align: center;
    overflow: auto;
}

.plus,
.minus,
.multiply,
.division {
    width: 50px;
    height: 30px;
    border-radius: 15%;
    margin: 4px;
    background-color: rgb(1, 65, 65);
    color: aliceblue;
    cursor: pointer;
    margin-top: 30px;
}

.prevShowContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.prevShowContainer h3 {
    font-size: 50px;
}

.prevShow {
    text-align: center;
    width: 250px;
    height: 150px;
    border: 0.5px solid rgb(162, 159, 159);
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 10px;
    background-color: rgb(143, 218, 245);
    border-radius: 5%;
}

.input {
    width: 190px;
    height: 45px;
    font-size: large;
    padding-left: 10px;
}

.registerContainer {
    justify-content: center;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 40px;
}

.submitButton {
    font-size: 17px;
    width: 90px;
    height: 54px;
    padding-left: 10px;
    cursor: pointer;
    background-color: rgb(143, 218, 245);
    border: 1px solid;
    color: rgb(95, 94, 94);
}

.submitButton:hover {
    background-color: rgb(177, 174, 174);
    color: rgb(143, 218, 245);
}

.startTheGame {
    display: inline-block;
    font-size: larger;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
    /* width: 200px;
    height: 50px; */
    font-size: 30px;
    margin: 50px 0px 50px 0px;
    color: rgb(125, 124, 124);
    background-color: rgb(143, 218, 245);
    padding: 20px;
    border-radius: 5%;
}

.startTheGame:hover {
    font-size: 32px;
}

.theAvarageHeader {
    border-bottom: 4px solid rgb(72, 83, 87);
    display: inline;
    font-weight: 900;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(109, 158, 176);
}

.p {
    display: block;
    font-size: larger;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: xx-large;
    margin: 10px;
    color: rgb(26, 77, 103);
}

.myTurn {
    color: rgb(161, 245, 245);
    font-size: 25px;
}

h3 {
    color: rgb(1, 65, 65);
    padding-top: 5px;
}

h3 p {
    margin: 20px;
    color: rgb(1, 65, 65);
    font-size: 30px;
}

.win {
    display: inline;
}

.quitButton {
    width: 80px;
    height: 30px;
    border: 0.5px solid rgb(180, 178, 178);
    border-radius: 8%;
    background-color: rgb(1, 65, 65);
    color: whitesmoke;
}

.quitButton:hover {
    background-color: rgb(124, 152, 152);;
    color: rgb(1, 65, 65);
}