.App {
  background-color: rgb(118, 96, 63);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px
  ;
}
.container{
  min-width: 500px;
  max-width: 600px;
  min-height: 200px;
  max-height: 300px;
  background-color: rgb(234, 203, 157);
  border: 5px solid rgb(110, 78, 78);

}
